#validation-password {
    height: 100vh;
}

.background-validation-password {
    background-image: url('/pexels-anastasia-shuraeva-8926961.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation-container-password {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 0.5px solid var(--blue);
    padding: 36px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.validation-container-password .message {
    color: var(--white);
    margin-bottom: 33px;
}

.logo {
    width: 125px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buttom-link {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--blue);
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttom-link:hover{
    background: var(--white);
    color: var(--blue);
}